extends layout

block content
    table
        tr
            th Departure
            th Delay
            th Line
            th Direction

        each departure in departures
            tr
                td= dateFormat(new Date(departure.when), "HH:MM")
                td
                    if departure.delay
                        = departure.delay
                    else
                td= departure.line.name
                td= departure.direction