extends layout

block content
    form(action="" method="get")
        div.mdl-textfield.mdl-js-textfield
            input.mdl-textfield__input(type="text" id="station" name="s")
            label.mdl-textfield__label(for="station") Enter Station

    block results