body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  width:auto;
  max-width: 95%;
}
td {
  white-space:nowrap;
}
td:last-child {
  white-space: normal;
}

.centered-body {
  padding-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  max-width: 100%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #cc0025;
  color: #FFFFFF;
  text-transform:capitalize;
}
