body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.centered-body {
  padding-top: 10px;
  max-width: 35%;
  margin: 0 auto;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #cc0025;
  color: #FFFFFF;
}

a {
  color: #00B7FF;
}

table {
  width:auto;
}
td {
  white-space:nowrap;
}
td:last-child {
  width:100%;
}
